@mixin wh($w,$h) {
    width: $w;
    height: $h;  
}
.imgsize{
    @include wh(100px,75px);
    margin-left: 32%;
}
.imgsizecard{
    @include wh(575px,375px);
}
.textfont{
    font-family:cursive;
}
.content {
    overflow: hidden;
    width:450px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hide{
    display: none;
}
.footertext{
    font-size: 21px;
}
li:hover{
    transform: translateY(-15px);
    transition: transform 1.2s;
    cursor: pointer;
}
@media only screen and (max-width: 1465px) {
    .content {
        width:330px;
    }
  }